# Imports

In [1]:
import pandas as pd

# Config

In [2]:
INPUT_PATH = '/Users/maedeh/Desktop/demand_project/demand_project/shoofer-demand-prediction/data/labels_phase2.parquet'
OUTPUT_PATH = '/Users/maedeh/Desktop/demand_project/demand_project/shoofer-demand-prediction/data/features_df_phase2.parquet'

NUM_INTERVAL_PER_DAY = 8

# Loading Dataset

In [3]:
def load_data(path):
    df = pd.read_parquet(path) 
    return df

In [4]:
rides_df = load_data(INPUT_PATH)
print(f'rides_df shape : {rides_df.shape}')
rides_df.head()

rides_df shape : (251520, 4)

   Location       Date  Hour_interval  Demand
0         1 2023-01-01              0     0.0
1         1 2023-01-01              3     1.0
2         1 2023-01-01              6     1.0
3         1 2023-01-01              9     1.0
4         1 2023-01-01             12    13.0

# Feature engineering

In [5]:
def feature_engineering(dataset, NUM_INTERVAL_PER_DAY):
    
    dataset['previous_day_interval'] = dataset.groupby(['Location'])['Demand'].shift(1*NUM_INTERVAL_PER_DAY)
    dataset['previous_week_interval'] = dataset.groupby(['Location'])['Demand'].shift(7*NUM_INTERVAL_PER_DAY)
    dataset['previous_2week_interval'] = dataset.groupby(['Location'])['Demand'].shift(14*NUM_INTERVAL_PER_DAY)
    
    return dataset

In [6]:
features_df = feature_engineering(rides_df, NUM_INTERVAL_PER_DAY)
print(f'features_df shape : {features_df.shape}') 
features_df.head()

features_df shape : (251520, 7)

,Location,Date,Hour_interval,Demand,previous_day_interval,previous_week_interval,previous_2week_interval
0,1,2023-01-01,0,0.0,NaN,NaN,NaN
1,1,2023-01-01,3,1.0,NaN,NaN,NaN
2,1,2023-01-01,6,1.0,NaN,NaN,NaN
3,1,2023-01-01,9,1.0,NaN,NaN,NaN
4,1,2023-01-01,12,13.0,NaN,NaN,NaN

# File saving

In [7]:
def save_features(dataset, path):
    features_df = dataset.to_parquet(path, index=False)

In [8]:
save_features(features_df, OUTPUT_PATH)