# Imports

In [1]:
import pandas as pd

# Config

In [2]:
INPUT_PATH = 'data/labels.parquet'
OUTPUT_PATH = 'data/features.parquet'

# Loading Dataset

In [3]:
def load_data(path):
    df = pd.read_parquet(path) 
    return df

In [4]:
rides_df = load_data(INPUT_PATH)
print(f'rides_df shape : {rides_df.shape}')
rides_df.head()

rides_df shape : (31440, 3)

   Location       Date  Demand
0         1 2023-01-01    40.0
1         1 2023-01-02    31.0
2         1 2023-01-03    27.0
3         1 2023-01-04     7.0
4         1 2023-01-05    15.0

# Feature engineering

In [5]:
def feature_engineering(dataset):
    dataset['Previous_day_demand'] = dataset.groupby(['Location'])['Demand'].shift(1)
    dataset['Previous_week_demand'] = dataset.groupby(['Location'])['Demand'].shift(7)
    dataset['Day_of_week'] = dataset['Date'].dt.dayofweek   
    dataset['Day_of_month'] = dataset['Date'].dt.day
    return dataset

In [6]:
features_df = feature_engineering(rides_df)
print(f'features_df shape : {features_df.shape}')
features_df.head()

features_df shape : (31440, 7)

,Location,Date,Demand,Previous_day_demand,Previous_week_demand,Day_of_week,Day_of_month
0,1,2023-01-01,40.0,NaN,NaN,6,1
1,1,2023-01-02,31.0,40.0,NaN,0,2
2,1,2023-01-03,27.0,31.0,NaN,1,3
3,1,2023-01-04,7.0,27.0,NaN,2,4
4,1,2023-01-05,15.0,7.0,NaN,3,5

# File saving

In [7]:
def save_features(dataset, path):
    features_df = dataset.to_parquet(path, index=False)

In [8]:
save_features(features_df, OUTPUT_PATH)